<%= form_for @comment do |f| %>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content , class: 'form-control' %>
    <%= f.hidden_field :topic_id %>
 </div>


  <% if logged_in? %>
   <%= f.submit '投稿', class: 'btn btn-black btn-block' %>
  <% end %>
<% end %>
